body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  margin: .5rem;
}

.day {
  padding: .5rem;
  text-align: center;
  border: 5px solid #ccc;
}

.day,
.days > * {
  display: center;
  flex-wrap: wrap-reverse;
}

.day:hover {
  background-color: orange;
}

#days {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.5rem;
}

.column {
  font-weight: bold;
  background-color: #ccc;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

#percent-working {
  background-color: #87dacd;
  border-color: grey;
  border-width: 1rem;
}

#numbers {
  display: flex;
  flex-direction: row;
  
}

p {
  text-align: center;
}

#percent-working {
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    margin: 2rem 2rem;
}

/* added for weather portion */
.five-day-forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: #87dacd;
}

.five-day-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1vw 1vw;
  margin: auto;
}

h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1vw 1vw;
}

#history {
    padding: 1vw 1vw;
    margin: 1vw 1vw;
}

#weather-title {
    margin: 0px 1vw;
}

#search {
    padding: 2vw 2vw;
    margin: 2vw 2vw;
}

@media only screen and (max-width: 900px) {
  #days > * {
    padding: 1vw;
  }

  .column {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .calendar{
    gap: .125rem;
    margin: .125rem;
    grid-gap: .125rem;
    }

  .day{
    padding: .25rem;
    width: 3rem;
    }

  #days > * {
    padding: 0.125rem;
  }

  .column {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.5rem;
    font-size: 1em;
    width: 3rem;
  }
}

@media only screen and (max-width: 300px) {
  #days > * {
    padding: 0.25rem;
  }

 }


