
.calendar {
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: 5px;
margin: 20px;
}

.day {
padding: 10px;
text-align: center;
border: 1px solid #ccc;
}

.header {
font-weight: bold;
background-color: #f2f2f2;
}

#numbers{
    display: flex;
    flex-direction: column;
}
