body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2vw;
  margin: 1vw;
}

.day {
  padding: 2vw;
  text-align: center;
  border: 1vw solid #ccc;
}

.day,
.days > * {
  display: flex;
  flex-wrap: wrap-reverse;
}

.day:hover {
  background-color: orange;
}

#days {
  display: flex;
  justify-content: center;
  padding: 1vw 1vw;
}

.column {
  font-weight: bold;
  background-color: #ccc;
  padding: 1vw 1vw;
  margin: 1vw 1vw;
}

#percent-working {
  background-color: #87dacd;
  border-color: grey;
  border-width: 1rm;
}

#numbers {
  display: flex;
  flex-direction: row;
}

p {
  text-align: center;
}

#percent-working {
    align-items: center;
    justify-content: center;
    padding: 3vw 3vw;
    margin: 3vw 3vw;
}

/* added for weather portion */
.five-day-forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
  background-color: #87dacd;
}

.five-day-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1vw 1vw;
  margin: auto;
}

h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1vw 1vw;
}

#history {
    padding: 1vw 1vw;
    margin: 1vw 1vw;
}

.five-day-wrapper, .five-day-forecast {
    padding: 1vw 1vw;
    margin: 1vw 1vw;
};

@media only screen and (max-width: 900px) {
  #days > * {
    padding: 1vw;
  }

  .column {
    padding: 0.5vw 0.5vw;
    margin: 0.5vw 0.5vw;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 650px) {
  #days > * {
    padding: 0.5vw;
  }

  .column {
    padding: 0.25vw 0.5vw;
    margin: 0.25vw 0.5vw;
    font-size: 1vw;
  }
}

@media only screen and (max-width: 300px) {
  #days > * {
    padding: 0.25vw;
  }

  .column {
    padding: 0.2vw 0.2vw;
    margin: 0.2vw 0.2vw;
    font-size: 0.5vw;
  }
}
